.intro {
    background-image: url("images/headbackgrd.svg");
}

/* hover: opacity*/
.iconesocial:hover {
    opacity: 0.88;
}

.twitter {
    position: absolute;
    left: 6.4%;
    right: 88.27%;
    top: 77.81%;
    bottom: 18.88%;
    background: #505F79;
}

.linkedin {
    /* Linkedin icon */
    position: absolute;
    width: 20px;
    height: 20px;
    left: 63px;
    top: 470px;
}

.github {
    position: absolute;
    left: 38.13%;
    right: 57.07%;
    top: 77.81%;
    bottom: 18.87%;
    background: #505F79;
}

